extends ../layout_admin

block content
  h2.page-header 修改密码

  form.form-password(method="post", action=action)
    != messages()
    label.sr-only(for="password") 新密码
    input#password.password.form-control(type="password", name="password", placeholder="新密码")
    label.sr-only(for="confirm") 确认密码
    input#confirm.confirm.form-control(type="password", name="confirm", placeholder="确认密码")
    button#password-submit.btn.btn-lg.btn-primary.btn-block(type="submit") 修改密码
