extends ../layout_user

block content
  form.form-signin(method='post', action='/admin/register')
    h2.form-signin-heading 注册
      small.pull-right
        a(href='/admin/login') 登陆
    != messages()
    label.sr-only(for="email") 用户名
    input.email.form-control(name="name", type="text", placeholder="用户名", value= name, autofocus)
    label.sr-only(for='inputEmail') 邮箱
    input#inputEmail.inputEmail.form-control(name='email', type='email', placeholder='邮箱', value= email)
    label.sr-only(for='inputPassword') 密码
    input#inputPassword.inputPassword.form-control(name='password', type='password', placeholder='密码')
    label.sr-only(for='confirmPassword') 确认密码
    input#confirmPassword.confirmPassword.form-control(name='confirm', type='password', placeholder='确认密码')
    button#login-submit.btn.btn-lg.btn-primary.btn-block(type="submit") 注册
