extends ../layout_admin

block content
  h1.page-header 修改类目
  form(method="post", action="/admin/categories/edit/" + category._id)
    div.form-group
      laber(for="category-name") 分类名称
      input#category-name.form-control(type="text", name="name", value=category.name, required)
      span.prompt-text 这将是它在站点显示的名字
    div.form-group
      laber(for="category-alias") 分类别名
      input#category-alias.form-control(type="text", name="alias", value=category.slug, required)
      span.prompt-text “别名”是在URL中使用的别称，它可以令URL更美观。
    div.form-group
      label(for="category-fname") 父节点
      select#category-fname.form-control(name="fid")
        option(value="0", selected="selected") 无
      span.prompt-text 暂无这个功能
    div.form-group
      laber(for="category-describe") 描述
      textarea#category-describe.form-control(name="describe", rows="4")= category.describe
      span.prompt-text 描述一下这个分类
    button.btn.btn-primary(type="submit", name="submit") 更新
