extends layout_blog

block content
  div.content-block.about-content
    h2.title
      strong 联系我
    p
     span 我的QQ：&nbsp;
     a(href="tencent://message/?uin=1018995917") 1018995917
    p
     span 我的邮箱：&nbsp;
     a(href="mailto:fuqi1018995917@163.com") fuqi1018995917@163.com
