extends layout_blog

block content
  div.content-block.friendly-content.row
    h2.title
      strong 本站友链
    div.col-md-4.col-xs-6
      span(title="点击进入阮一峰个人网站")
        a(href="http://www.ruanyifeng.com/home.html", target="_blank") 阮一峰
    div.col-md-4.col-xs-6
      span(title="点击进入廖雪峰官方网站")
        a(href="https://www.liaoxuefeng.com/", target="_blank") 廖雪峰
